.nav__block {
    display: flex;
    width: 100%;

    justify-content: space-between;
}
.nav__block__menu {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.logo {
    font-size: 1.5rem;
}

.nav__link {
    text-decoration: none;
    color: black;
}

.basket {
    font-size: 1.2rem;
    cursor: pointer;
    transition: all 1s ease;
}

.basket:hover {
    transform: scale(1.2) translateY(-0.2rem);
    color: red;
}
